<div class="backgroundImage">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href=""><img
      src="https://icdn.lenta.ru/images/2017/12/07/16/20171207164401908/detail_b4fe0cf020f451ad0e9696267d68f88d.png"
      height="75"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink=""><h5>Главная</h5> <span class="sr-only">(current)</span></a>
        </li>
        <li>
          <a class="nav-link" (click)="open(content)" routerLink=""><h5>Войти</h5> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="admin"><h5>TestAdminLoad</h5> <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input type="text" [(ngModel)]="text" [ngModelOptions]="{standalone: true}" maxlength="20"
               class="form-control mr-sm-2" placeholder="Название фильма" aria-label="Поиск"
               aria-describedby="button-addon2">
        <a [routerLink]="['/search', text]"
           class="btn btn-outline-success my-2 my-sm-0">Поиск </a>
      </form>
    </div>
    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Авторизация</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Почтовый адрес</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Запомнить</label>
          </div>
          <div class="buttonSubmit">
            <button type="submit" class="btn btn-primary">Войти</button>
          </div>
          <br>
          <div class="buttonRegister">
            <button type="register" class="btn btn-primary" routerLink="/register">Регистрация</button>
        </div>
        </form>
      </div>
    </ng-template>

  </nav>
</div>
