<div class="card text-center m-3">
  <div class="card-body">
    <ul class="movieList">
<li class="container col-md-2"
    *ngFor="let movie of movies | paginate: { id: 'listing_pagination',
itemsPerPage: 10,
currentPage: page,
totalItems: totalResults}">
  <app-movie [movie]="movie"></app-movie>
</li>
    </ul>
  </div>
</div>
<div>
  <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true"
                       (pageChange)="getMovies(searchText, page = $event)"></pagination-controls>
</div>

