<div class="container">
  <form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Имя" name="name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Фамилия(не обязательно)" name="firstName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4" name="email">Почтовый Адрес</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4" name="pass">Придумайте пароль</label>
        <input type="password" class="form-control" id="inputPassword4">

        <label for="inputPassword4">Повторите пароль</label>
        <input type="password" class="form-control" id="inputPassword5" name="pass">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCountry">Страна</label>
        <input type="text" class="form-control" id="inputCountry">
      </div>
      <div class="form-group col-md-4">
        <label for="inputCity">Город</label>
        <select id="inputCity" class="form-control">
          <option selected>Выберите...</option>
          <option>Астана</option>
          <option>Алматы</option>
          <option>Уральск</option>
          <option>Шымкент</option>
          <option>Караганда</option>
          <option>...</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="form()">Регистрация</button>
  </form>

</div>
