li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  color: white;
}
ul{
  margin: 1px;
  padding: 1px;
}
.poster{
  margin-right: 10px;
  width: 600px;
}
.movie{
  display: flex;
  margin-right: auto;
  margin-left: auto;

}
.pageOfMovie{
  background-color: #1a143b;
}
h4, h3, p {
  color: white;
}
.description{
  color: black;
}
.card-text{
  color: black;
}
