<div class="pageOfMoviePlot">
<div class="pageOfMovie">
  <br>
  <div class="container">
  <div class="movie">
    <div class="poster">
      <h4>фильм<h3>
        {{movie?.Title}}</h3>
        смотреть
      </h4>
      <img src="{{movie?.Poster}}" height="300"> <br>

    </div>
    <div class="detail">
      <ul>
        <p>рейтинг фильма: {{movie?.imdbRating}}</p>
        <li>{{movie?.Country}} * {{movie?.Runtime}}</li>
        <li>ГОД:{{movie?.Year}}</li>
        <li>ЖАНР:{{movie?.Genre}}</li>
        <li>РЕЖИССЕР:{{movie?.Director}}</li>
        <li>В РОЛЯХ:{{movie?.Actors}}</li>
        <li>НАГРАДЫ:{{movie?.Awards}}</li>
      </ul>
    </div>
  </div>
  </div>
  <br>
  </div>
  <br>
    <div class="container">
      <h4 class="description">Описание</h4>
      <p class="card-text">{{movie?.Plot}}</p>
    </div>
</div>
<br>
<br>

