/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
}
