<div class="backgroundImage">
  <div class="container">
    <div class="_2XQbf"><h1>Полная коллекция впечатлений, эмоций и ощущений</h1>
      <p>Встречайте увлекательный и&nbsp;незабываемый мир развлечений, смотрите в&nbsp;лучшем качестве и&nbsp;без&nbsp;рекламы
        на&nbsp;любом устройстве</p></div>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://i.pinimg.com/originals/e9/0b/99/e90b991c7eed1285dd4a49b4afaffc90.jpg" class="d-block w-100"
               alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://storge.pic2.me/cm/2560x1440/606/57cb019f38d51.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img
            src="https://media.glamour.com/photos/5d6e77b8aaa8050008211c77/master/w_3200,h_1800,c_limit/0830_newmovies_lede_social.jpg"
            class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
  <h1>Content</h1>
</div>

