p {
  padding: 10px;
}
.container {
  padding-top: 20px;
}

.backgroundImage {
  background-color: #1a143b;
}
._2XQbf {
  max-width: 1114px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
._2XQbf {
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  margin-bottom: 40px;
}
