<div class="card" style="width: 14rem;">
  <img src="{{movie?.Poster}}" class="card-img-top" alt="..." >
  <div class="card-body">
    <h5 class="card-title">{{movie?.Title}}</h5>
    <p class="card-text">
      {{movie.Year}}
    </p>
    <a [routerLink]="['/movie',  movie.imdbID]" class="btn btn-primary">Перейти к фильму</a>
  </div>
</div>
